<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Next</title>
 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style,css.css" rel="stylesheet">
   <link href="/static/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
</head>
<body>
<DIV class="header">

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="col-md-4">
<div class="/static/logo">
<h3>GONEXT MEDIA</h3>
</div>
</div>
<div class="col-md-8 pull-right">
<div class="log-in">
<span><i class="fa fa-user user" aria-hidden="true"></i>Signup</span><span><i class="fa fa-power-off off" aria-hidden="true"></i>Logout</span>
</div>
</div>

</div>
</div>
</div>
</DIV>

<div class="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li><a href="/index"><i class="fa fa-home home" aria-hidden="true"></i>Dashboard</a></li>
      <li><a href="/my-profile"><i class="fa fa-user-circle-o home" aria-hidden="true"></i>
My Profile</a></li>
      <li><a href="/reffral"><i class="fa fa-location-arrow home" aria-hidden="true"></i>Refferel Link</a></li>
      <li><a href="/today-task"><i class="fa fa-book home" aria-hidden="true"></i>Today Task</a></li>
       <li><a href="/payouthistory"><i class="fa fa-history home" aria-hidden="true"></i>Payout History</a></li>
        <li><a href="/manage-compane"><i class="fa fa-file-o home" aria-hidden="true"></i>Manage Compaign</a></li>
         <li><a href="/kyc"><i class="fa fa-pencil home" aria-hidden="true"></i>KYC</a></li>
          <li><a href="/network"><i class="fa fa-book home" aria-hidden="true"></i>Network</a></li>
           <li><a href="/sales"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Sales</a></li>
            <li><a href="/Promotional"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Promotionl Income</a></li>
             <li><a href="/rewards"><i class="fa fa-gift home" aria-hidden="true"></i>Rewards</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="welcome-haeder">
<div class="container">
<div class="row">
<div class="col-md-3 ">
<div class="main-box">
<div class="/static/logo-1">
<img src="/static/logo/logo.jpg">
</div>
<div class="text">
<h3>ARYA ADITYA</h3>
<p>ID: 91018320</p>
</div>
</div>
</div>
<div class="col-md-9 ">
<div class="gonext-wel">
<h3>Manage Compaign</h3>
</div>
</div>
</div>
</div>
</div>
<div class="container">
 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Add Compaign</a></li>
    <li><a href="#">Compiagn info </a></li>
    <li><a href="#">Compaign Status</a></li>
   
  </ul>
  <br>
 
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Campaign Type</H3>
<form>
<select style="width:100%;">
  <option id="Voter Id Card">Facebook Like</option>
  <option id="Aadhar Card">Website Traffic</option>
  <option id="Voter Id Card" selected>Facebook Share</option> // Pre-selected
  <option id="Dryving Liecence">Google Plus</option>
  <option id="Passport">Twitter Share</option>
</select>
</form>
</div></div>
</div>
</div>

<DIV class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Campaign Type</H3>
<input type="text" class="form-control" placeholder="Compaign type">
</div></div>
</div>
</DIV>

<DIV class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Campaign Link</H3>
<input type="text" class="form-control" placeholder="Compaign Title">
</div></div>
</div>
</DIV>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Age Limit</H3>
<form>
<select style="width:100%;">
  <option id="Voter Id Card">Select Age</option>
  <option id="Aadhar Card">Select Age</option>
  <option id="Voter Id Card" selected>Less Than 18</option> // Pre-selected
  <option id="Dryving Liecence">18-30</option>
  <option id="Passport">45-60</option>
  <option id="Passport">60-72</option>
</select>
</form>
</div></div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Gender</H3>
<form>
<select style="width:100%;">
  <option id="Voter Id Card">All</option>
  <option id="Aadhar Card">Female</option>
  <option id="Voter Id Card" selected>Male</option> // Pre-selected
  
</select>
</form>
</div></div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Proffetion</H3>
<form>
<select style="width:100%;">
  <option id="Voter Id Card">Student</option>
  <option id="Aadhar Card">Animater</option>
  <option id="Voter Id Card" selected>Accountent</option> // Pre-selected
  <option id="Dryving Liecence">Bussiness Person</option>
  <option id="Passport">Self Employed</option>
</select>
</form>
</div></div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="box-2">
<H3>Industry</H3>
<form>
<select style="width:100%;">
  <option id="Voter Id Card">Agriculture</option>
  <option id="Aadhar Card">Defence</option>
  <option id="Voter Id Card" selected>It Endustry</option> // Pre-selected
  <option id="Dryving Liecence">Printing</option>
  <option id="Passport">Real Estate</option>
</select>
</form>
</div></div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<div class="box-2">
<a href="#" class="btn-group">Submit</a>
</div></div></div></div>

<div class="border-bottem">
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
function myFunction() {
    document.getElementById("orange").selected = "true";
}
</script>
</body>
</html>