<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Next</title>
 <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/style,css.css" rel="stylesheet">
   <link href="/static/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
</head>
<body>
<DIV class="header">

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="col-md-4">
<div class="/static/logo">
<h3>GONEXT MEDIA</h3>
</div>
</div>
<div class="col-md-8 pull-right">
<div class="log-in">
<span><i class="fa fa-user user" aria-hidden="true"></i>Signup</span><span><i class="fa fa-power-off off" aria-hidden="true"></i>Logout</span>
</div>
</div>

</div>
</div>
</div>
</DIV>

<div class="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li><a href="/index"><i class="fa fa-home home" aria-hidden="true"></i>Dashboard</a></li>
      <li><a href="/my-profile"><i class="fa fa-user-circle-o home" aria-hidden="true"></i>
My Profile</a></li>
      <li><a href="/reffral"><i class="fa fa-location-arrow home" aria-hidden="true"></i>Refferel Link</a></li>
      <li><a href="/today-task"><i class="fa fa-book home" aria-hidden="true"></i>Today Task</a></li>
       <li><a href="/payouthistory"><i class="fa fa-history home" aria-hidden="true"></i>Payout History</a></li>
        <li><a href="/manage-compane"><i class="fa fa-file-o home" aria-hidden="true"></i>Manage Compaign</a></li>
         <li><a href="/kyc"><i class="fa fa-pencil home" aria-hidden="true"></i>KYC</a></li>
          <li><a href="/network"><i class="fa fa-book home" aria-hidden="true"></i>Network</a></li>
           <li><a href="/sales"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Sales</a></li>
            <li><a href="/Promotional"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Promotionl Income</a></li>
             <li><a href="/rewards"><i class="fa fa-gift home" aria-hidden="true"></i>Rewards</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="welcome-haeder">
<div class="container">
<div class="row">
<div class="col-md-3 ">
<div class="main-box">
<div class="/static/logo-1">
<img src="/static/logo/logo.jpg">
</div>
<div class="text">
<h3>ARYA ADITYA</h3>
<p>ID: 91018320</p>
</div>
</div>
</div>
<div class="col-md-9 ">
<div class="gonext-wel">
<h3>My Profile</h3>
</div>
<div class="row">
<div class="col-md-12">
<div class="earnmoney">
<h3>Address</h3>
<p><i class="fa fa-map-marker map" aria-hidden="true"></i>S-3/87/12, TEHSIL SUNDERNAGAR, BBMB COLONY,SUNDERNAGAR, MANDI , HIMACHAL PRADESH  </p>
<p><i class="fa fa-phone mobile" aria-hidden="true"></i>Mobile:7042118266</p>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
	<div class="row">
      <div class="col-lg-12">
         
<table class="table table-bordered table-hover" id="tableAddRow">
<thead>
<tr>
<th><i class="fa fa-inr inr" aria-hidden="true"></i>5750</th>
<th>10</th>
<th><i class="fa fa-inr inr" aria-hidden="true"></i>5</th>

</tr>
</thead>
<tbody>
<tr>
<th>Plan Fees</th>
<th>Daily Links</th>
<th>Earning Par Click</th>

</tr>
</tbody>
</table>
</div>
</div>
</div>



<div class="container">
<div class="row">
<div class="col-md-6">

<div class="table-responsive">          
<table class="table table-bordered table-hover">
<thead>
<tr><td class="center">Bank Detail's</td></tr>
</thead>
<thead>
<tr>


<th>Account Holder</th>
<th>Arya Aditya</th>

</tr>
</thead>
<tbody>
<tr>


<td class="fifty">Bank Name</td>
<td>HDFC Bank</td>

</tr>
<tr>


<td>Branch Name</td>
<td>HDFC BANK LTD, CYBER CITY II BRANCH</td>

</tr>
<tr>


<td>Account No.</td>
<td>50100084821581</td>

</tr>
<tr>


<td>IFSC Code</td>
<td>HDFC0002852</td>

</tr>
</tbody>
</table>
</div>
<div class="row">
 <div class="col-md-12">
<div class="table-responsive">          
<table class="table table-bordered table-hover">
<thead>
<tr><td class="center">Plan Details</td></tr>
</thead>
<thead>
<tr>


<th>Plan Name</th>
<th>Basic</th>

</tr>
</thead>
<tbody>
<tr>


<td class="fifty">Plan Fees</td>
<td>5750</td>

</tr>
<tr>


<td>Servcies</td>
<td>500</td>

</tr>
<tr>


<td>Validity</td>
<td>12 Months</td>

</tr>
<tr>
<td>Work</td>
<td>10</td>
</tr>
<tr>
<td>Earning Per Click</td>
<td>5</td>
</tr>
<tr>
<td>Register date</td>
<td>20-12-2016 17:58:05</td>
</tr>
<tr>
<td>Account Activation Date</td>
<td>21-12-2016</td>
</tr>
<tr>
<td>Payout Mode</td>
<td>Daily</td>
</tr>
</tbody>
</table>
</div> 
 </div>
 </div>
</div>

<div class="col-md-6">
<div class="table-responsive">          
<table class="table table-bordered table-hover">
<thead>
<tr><td class="center">My Profile	
</td></tr>

</thead>
<thead>
<tr>


<th>Email</th>
<th>aditya.1991.arya@gmail.com</th>

</tr>
</thead>
<tbody>
<tr>


<td class="fifty">Mobile</td>
<td>7042118266</td>

</tr>
<tr>


<td>Nominee</td>
<td>RAMPHAL SINGH</td>

</tr>
<tr>


<td>Gender</td>
<td>Male</td>

</tr>
<tr>
<td>Address</td>
<td>S-3/87/12, TEHSIL SUNDERNAGAR, BBMB COLONY, SUNDERNAGAR, MANDI , HIMACHAL PRADESH</td>
</tr>
<tr>
<td>City</td>
<td>DELHI</td>
</tr>
<tr>
<td>State</td>
<td>DELHI</td>
</tr>
<tr>
<td>Date Of Birth</td>
<td>1991-08-01</td>
</tr>
<tr>
<td>Profession</td>
<td>Employed</td>
</tr>
<tr>
<td>Industry</td>
<td>Fashion and Apparel</td>
</tr>
<tr>
<td>Company Name</td>
<td>JADE ESERVICES PRIVATE LIMITED</td>
</tr>
<tr>
<td>Field of work</td>
<td>PRICING STRATEGY</td>
</tr>
<tr>
<td>Account Status</td>
<td>Active</td>
</tr>
<tr>
<td>Booster Status</td>
<td>Deactive</td>
</tr>
<tr>
<td>Booster Links</td>
<td>Not Applicable</td>
</tr>
</tbody>
</table>
</div>
</div>  
</div>
</div>


            
            





<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
    $('.addBtn').on('click', function () {
        //var trID;
        //trID = $(this).closest('tr'); // table row ID 
        addTableRow();
    });
     $('.addBtnRemove').click(function () {
        $(this).closest('tr').remove();  
    })
    var i = 1;
    function addTableRow()
    {
        var tempTr = $('<tr><td><input type="text" id="userName_' + i + '" class="form-control"/></td><td><input type="text" id="email_' + i + '" class="form-control" /></td><td><input type="text" id="password_' + i + '" class="form-control" /></td><td><span class="glyphicon glyphicon-minus addBtnRemove" id="addBtn_' + i + '"></span></td></tr>').on('click', function () {
           $(this).closest('tr').remove(); 
           $(document.body).on('click', '.TreatmentHistoryRemove', function (e) {
                $(this).closest('tr').remove();  
            });
        });
        $("#tableAddRow").append(tempTr)
        i++;
    }
});
</script>

</body>
</html>