<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Next</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style,css.css" rel="stylesheet">
<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/css/component.css" />


 <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/pace-theme-flash.css">
    <script async="" src="/static/New folder/GONEXT MEDIA_files/analytics.js.download"></script><script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/pace.min.js.download"></script>
    <!-- Bootstrap CSS-->
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/themify-icons.css">
    <!-- Malihu Scrollbar-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/jquery.mCustomScrollbar.min.css">
    <!-- Animo.js-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/animate-animo.min.css">
    <!-- Bootstrap Progressbar-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/bootstrap-progressbar-3.3.4.min.css">
    <!-- Toastr-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/toastr.min.css">
    <!-- SpinKit-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/7-three-bounce.css">
    <!-- Jvector Map-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/jquery-jvectormap-2.0.3.css">
    <!-- Morris Chart-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/morris.css">
    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/buttons.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/colReorder.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/responsive.bootstrap.min.css">
    <!-- Weather Icons-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/weather-icons-wind.min.css">
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/weather-icons.min.css">
    <!-- FullCalendar-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/fullcalendar.print.css" media="print">
    <!-- jQuery MiniColors-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/jquery.minicolors.css">
    <!-- Bootstrap Date Range Picker-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/daterangepicker.css">
    <!-- Primary Style-->
    <link rel="stylesheet" type="text/css" href="/static/New folder/GONEXT MEDIA_files/second-layout.css">


















</head>
<body>
<DIV class="header">

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="col-md-4">
<div class="/static/logo">
<h3>GONEXT MEDIA</h3>
</div>
</div>
<div class="col-md-8 pull-right">
<div class="log-in">
<span><i class="fa fa-user user" aria-hidden="true"></i>Signup</span><span><i class="fa fa-power-off off" aria-hidden="true"></i>Logout</span>
</div>
</div>

</div>
</div>
</div>
</DIV>

<div class="menu">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav">
      <li><a href="/index"><i class="fa fa-home home" aria-hidden="true"></i>Dashboard</a></li>
      <li><a href="/my-profile"><i class="fa fa-user-circle-o home" aria-hidden="true"></i>
My Profile</a></li>
      <li><a href="/reffral"><i class="fa fa-location-arrow home" aria-hidden="true"></i>Refferel Link</a></li>
      <li><a href="/today-task"><i class="fa fa-book home" aria-hidden="true"></i>Today Task</a></li>
       <li><a href="/payouthistory"><i class="fa fa-history home" aria-hidden="true"></i>Payout History</a></li>
        <li><a href="/manage-compane"><i class="fa fa-file-o home" aria-hidden="true"></i>Manage Compaign</a></li>
         <li><a href="/kyc"><i class="fa fa-pencil home" aria-hidden="true"></i>KYC</a></li>
          <li><a href="/network"><i class="fa fa-book home" aria-hidden="true"></i>Network</a></li>
           <li><a href="/sales"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Sales</a></li>
            <li><a href="/Promotional"><i class="fa fa-address-book-o home" aria-hidden="true"></i>Promotionl Income</a></li>
             <li><a href="/rewards"><i class="fa fa-gift home" aria-hidden="true"></i>Rewards</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="welcome-haeder">
<div class="container">
<div class="row">
<div class="col-md-3 ">
<div class="main-box">
<div class="/static/logo-1">
<img src="/static/logo/logo.jpg">
</div>
<div class="text">
<h3>ARYA ADITYA</h3>
<p>ID: 91018320</p>
</div>
</div>
</div>
<div class="col-md-9 ">
<div class="gonext-wel">
<h3>Network</h3>
</div>
</div>
</div>
</div>
</div>
<div class="container margin-top">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="tr">
            <div class="td">User ID</div>
            <div class="td">Joining Date</div>
            <div class="td">Package</div>
            <div class="td">Left Sale</div>
            <div class="td">Right Sale</div>
            <div class="td">Direct Sale</div>
            <div class="td">Left PV</div>
            <div class="td">Right PV</div>
            <div class="td">Direct PV</div>
        </div>
    </div>
    
    <div class="panel-footer">
        <div class="tr">
            <div class="td">91018320</div>
            <div class="td">21-12-2016</div>
            <div class="td">BASIC</div>
             <div class="td">3</div>
              <div class="td">0</div>
               <div class="td">1</div>
                <div class="td">1.5</div>
                 <div class="td">0</div>
                  <div class="td">0.5</div>
        </div>
    </div>
</div>

</div></div></div>
<div class="container">
<div class="row">
<div class="col-md-9">
<div class="network">
<input type="text" class="form-control" placeholder="Search By Id">
</div>
</div>
<div class="col-md-3">
<div class="showw">
<a href="#" class="botton">Submit</a>
</div>
</div>
</div>
</div>



<div class="tree col-md-12 text-center">
				    				    <ul style="margin:auto;">
    <li> 
 <a style="background-color:#FFFFFF;display:block; color:#000;" class="thumbnail1" href="http://www.gonextmedia.com:8080/user/network.php?id=91018320">
            <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/active.png"><br>
       
     91018320 </a>
 <ul>
     
     <li> 
 <div id="91021821" class="treeme" style="background-color:#FFFFFF;display:block;position: relative;">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/active.png"><br>91021821<div id="show_91021821" style="display:none" class="tr"><table><tbody><tr><td><a href="http://www.gonextmedia.com:8080/user/network.php?id=91021821">Downline</a></td><td><a href="http://www.gonextmedia.com:8080/user/network.php#treeview" data-toggle="modal" onclick="detail(91021821)" ;="">Detail</a></td></tr></tbody></table></div></div><ul><li> 
 <div id="91021823" class="treeme" style="background-color:#FFFFFF;display:block;position: relative;">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/active.png"><br>91021823<div id="show_91021823" style="display:none" class="tr"><table><tbody><tr><td><a href="http://www.gonextmedia.com:8080/user/network.php?id=91021823">Downline</a></td><td><a href="http://www.gonextmedia.com:8080/user/network.php#treeview" data-toggle="modal" onclick="detail(91021823)" ;="">Detail</a></td></tr></tbody></table></div></div><ul><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  <li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  </ul></li>
  <li> 
 <div id="91021824" class="treeme" style="background-color:#FFFFFF;display:block;position: relative;">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/active.png"><br>91021824<div id="show_91021824" style="display:none" class="tr"><table><tbody><tr><td><a href="http://www.gonextmedia.com:8080/user/network.php?id=91021824">Downline</a></td><td><a href="http://www.gonextmedia.com:8080/user/network.php#treeview" data-toggle="modal" onclick="detail(91021824)" ;="">Detail</a></td></tr></tbody></table></div></div><ul><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  <li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  </ul></li>
  </ul></li>
       <li> 
 <div id="91019764" class="treeme" style="background-color:#FFFFFF;display:block;position: relative;">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/pending.png"><br>91019764
	 <div id="show_91019764" style="display:none" class="tr"><table><tbody><tr><td><a href="http://www.gonextmedia.com:8080/user/network.php?id=91019764">Downline</a></td><td><a href="http://www.gonextmedia.com:8080/user/network.php#treeview" data-toggle="modal" onclick="detail(91019764)" ;="">Detail</a></td></tr></tbody></table></div></div> <ul><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open<ul><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li></ul></li>
  <li> 
 <div id="91033169" class="treeme" style="background-color:#FFFFFF;display:block;position: relative;">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/pending.png"><br>91033169
	 <div id="show_91033169" style="display:none" class="tr"><table><tbody><tr><td><a href="http://www.gonextmedia.com:8080/user/network.php?id=91033169">Downline</a></td><td><a href="http://www.gonextmedia.com:8080/user/network.php#treeview" data-toggle="modal" onclick="detail(91033169)" ;="">Detail</a></td></tr></tbody></table></div></div> <ul><li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  <li> 
 <a style="background-color:#FFFFFF;display:block" class="thumbnail1">
     <img style="width:50px;" src="/static/New folder/GONEXT MEDIA_files/open.png"><br></a>Open</li>
  </ul></li>
  </ul></li>
        </ul>
    </li>
</ul>				</div>



<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>




   <script type="text/javascript">
   jQuery('.treeme').click(function(e) {
    var fin_id= this.id;
	//alert(fin_id);
	$('#show_'+fin_id).toggle();
});
function detail(tree_id){
	//alert(tree_id);
	$.ajax({
       			type: "POST",
                data: "tree_id="+tree_id,
                url: "../include/ajax.php",
				beforeSend: function(){				
							$('#mytreeview').html("<img src='../images/loader.gif");							
					  		},
                success: function (data) {
					//clearTimeout(loading);
					//alert(data);
				$('#mytreeview').html(data);
                        }
                    });
	}
   </script>
   <style>
   .tr{ position:absolute; top:0; right:0; background:#1570D8 none repeat scroll 0 0; padding:3px 4px;}
   </style>
    <!-- Bootstrap JavaScript-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/bootstrap.min.js.download"></script>
    <!-- Malihu Scrollbar-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.mCustomScrollbar.concat.min.js.download"></script>
    <!-- Animo.js-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/animo.min.js.download"></script>
    <!-- Bootstrap Progressbar-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/bootstrap-progressbar.min.js.download"></script>
    <!-- jQuery Easy Pie Chart-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.easypiechart.min.js.download"></script>
    <!-- Toastr-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/toastr.min.js.download"></script>
    <!-- MomentJS-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/moment.min.js.download"></script>
    <!-- jQuery BlockUI-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.blockUI.js.download"></script>
    <!-- jQuery Counter Up-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/waypoints.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.counterup.min.js.download"></script>
    <!-- Jvector Map-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery-jvectormap-2.0.3.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery-jvectormap-world-mill.js.download"></script>
    <!-- Flot Charts--> 
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.flot.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.flot.resize.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/curvedLines.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.flot.tooltip.min.js.download"></script>
    <!-- Morris Chart-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/raphael-min.js.download"></script>
    <script type="text/javascript" src="./GONEXT MEDIA_files/morris.min.js.download"></script>
    <!-- DataTables-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.dataTables.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/dataTables.bootstrap.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/dataTables.buttons.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/buttons.bootstrap.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jszip.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/pdfmake.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/vfs_fonts.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/buttons.print.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/buttons.html5.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/dataTables.colReorder.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/dataTables.responsive.min.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/responsive.bootstrap.js.download"></script>
    <!-- jQuery UI-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery-ui.min.js.download"></script>
    <!-- FullCalendar-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/fullcalendar.min.js.download"></script>
    <!-- jQuery MiniColors-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/jquery.minicolors.min.js.download"></script>
    <!-- Bootstrap Date Range Picker-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/daterangepicker.js.download"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/app.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/demo.js.download"></script>
    <script type="text/javascript" src="/static/New folder/GONEXT MEDIA_files/index.js.download"></script>
    
</body>
</html>





